#about {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#about_house {
    width: 480px;
    height: auto;
}

#about .section-subtitle {
    font-size: 3rem;
}

#about_content {
    width: 50%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-neutral-0);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
}

.feedback-content p span {
    color: var(--color-primary-6);
}

@media screen and (max-width: 1170px) {
    #about {
        flex-direction: column;
    }

    #about .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #about_house {
        display: none;
    }

    #about_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #about .section-subtitle {
        font-size: 2rem;
    }

    #about_content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
        text-align: center;
    }

    .feedback-content p {
        justify-content: center;
    }
} 




