footer {
    background-color: transparent;
    overflow-x: hidden;
    position: relative;
    padding: 0;
}

fooster > img {
    width: 100%;       
    min-width: 1000px;
    height: auto;
    display: block;
    object-fit: cover;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
}

#footer_items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 30px 8%;
    align-items: flex-end;
}

#copyright {
    color: var(--color-neutral-1);;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_items {
	    flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        padding-bottom: 20px;
    }
}

