#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
    align-items: center;
    justify-content: center;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 3.0rem;
    color: var(--color-neutral-0);
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; 
    z-index: 10;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Outfit';
}

#cta .title span {
    font-size: 3.0rem;
    color: var(--color-primary-6);
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; 
    z-index: 10;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

#cta .description {
    font-size: 1.2rem;
    color: var(--color-neutral-0);
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; 
    z-index: 10;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

#cta_buttons {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-neutral-1);
    align-items: center;
    justify-content: center;
}

/* ===== MOBILE ===== */
@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
}








