#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
	padding: 0;
}

/* ===== CARDS ===== */
#cards {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
	padding-left: 8%;
    padding-right: 8%;
	flex-wrap: wrap;
}

.card {
    border: 15px solid transparent;
    border-image-source: url('../images/box_border.png');
    border-image-slice: 15 fill;
    border-image-repeat: stretch;
    image-rendering: pixelated;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    gap: 18px;
    width: 22%;
	min-width: 260px;
    margin-top: 32px;
    padding: 20px;
    
    background-image: url('../images/board.png');
	background-position: center;
	background-size: 102% 102%;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.card-image {
    margin-left: 20px;
    margin-right: 20px;
	margin-top: 10px;
    width: calc(100% - 10px);
}

.card-info {
    position: absolute;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--color-primary-1);
    width: 50px;
    height: 50px;
    right: 1px;
    top: 1px;
}

.icon-img {
	width: 35px;
	height: 35;
	object-fit: contain;
	image-rendering: pixelated;
}

.card-description {
    color: #434343;
    text-align: center;
}

.card-audio {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-audio-group {
    margin-top: 10px;
}

/* ===== CENÁRIO ===== */
.cenario {
	position: relative;
	width: 100%;
	height: auto;
	z-index: -5;
	overflow: visible;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.cenario::before {
    content: "";
   	position: absolute;
	bottom: 0; 
    left: 0;
    width: 100%;
	height: 300vh;
	background: linear-gradient(to bottom,
        #0D052D 50%,
        #131254 65%,
        #053978 70%,
		#0362BB 75%,
		#2FA2FA 80%,
		#67E9E6 85%,
        #C8FFD9 90%);
	z-index: -10;
	pointer-events: none;
}

.layer {
	position: absolute;
	width: 100%;
	height: auto;
	image-rendering: pixelated;
	pointer-events: none;
}

.s-stars {
	z-index: 1;
	top: 20px;
}

.s-clouds {
	z-index: 2;
	bottom: 50px;
	opacity: 0.3;
}

.s-haze {
	z-index: 3;
	bottom: auto;
	margin-bottom: 100px;
}

.s-mountains {
	z-index: 4;
	bottom: auto;
	margin-bottom: 50px;
}

.s-trees {
	z-index: 5;
	bottom: auto;
	margin-bottom: 60px;
}

.s-farm {
	z-index: 6;
	position: relative;
	bottom: auto;
}

/* ===== MOBILE ===== */
@media screen and (max-width: 1170px) {
    #cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: calc(50% - 12px);
    }

	.card-image {
   		width: 95%;
	}

	.cenario::before {
    	width: 100%;
		height: 180vh;
   }
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }

    #menu .section-subtitle {
        text-align: center;
    }
} 

