#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#cards {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.card {
    background: transparent;
    box-shadow: none;
    border: 15px solid transparent;
    border-image-source: url('../images/box_border.png');
    border-image-slice: 15 fill;
    border-image-repeat: stretch;
    image-rendering: pixelated;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 18px;
    width: 25%;
    margin-top: 32px;
    padding: 20px;
    
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.card-image {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 10px);
}

.card-info {
    position: absolute;
    background-color: var(--color-primary-6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--color-primary-1);
    width: 70px;
    height: 70px;
    right: -15px;
    top: -15px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.card-description {
    color: #434343;
    text-align: center;
}

.dish-rate i {
    display: none;
    color: var(--color-primary-6);
}

.card-audio {
    display: flex;
    align-items: center;
    gap: 20px;
}

.back-layer {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	object-fit: cover;
	image-rendering: pixelated;
}

.mid-layer {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
    margin-top: -30px;
	image-rendering: pixelated;
}

.break-layer {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
    display: block;
	object-fit: cover;
    margin-top: -30px;
    image-rendering: pixelated; 
}

@media screen and (max-width: 1170px) {
    #cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }

    #menu .section-subtitle {
        text-align: center;
    }

} 






